@font-face{
  font-family: "ostrich";
  src: url("ostrich-regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "ostrichBold";
  src: url("ostrich-bold.ttf");
  font-style: normal;
  font-weight: bold;
}


body{
  background: #554236;
  font-family: "ostrich";
  font-size:24px;
  color:#554236;
}

h1 {
  font-family: "ostrichBold";
  font-size:3em;
  width:40%;
  margin: auto;
  color:#F77825;
}

.tile{
  width:200px;
  height:200px;
  margin:20px;
  border: 10px solid #D3CE3D;
  background: #60B99A;
  float:left;
}

.tile h3{
  width: 100px;
  margin: 15px auto;
}

.tile:hover{
  background-color: #F77825;
  cursor:pointer;
}

.quizContainer{
  background: #fff;
  position: fixed;
  top: 100px;
  left:20%;
  z-index: 100;
  height:0px;
  width: 50%;
}

.quizCard {
  height:400px;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  background: #333;
  color: #F77825;
  border: 2px solid #F77825;
  position:fixed;
}

.quizCard span{
  font-size:2em;
  color:#60B99A;
  font-family: "ostrich"
}

.closeBtn {
 position:absolute;
 top: 10px;
 right: 10px;
 height:25px;
 width:25px;
 background: none;
 border: none;
 background-image: url("../images/Close-128.png");
 background-size: cover;
}

.blitzBtn{
  font-family: "ostrichBold";
  position:absolute;
  top:10px;
  right:10px;
  color:#fff;
  background:#F77825;
  font-size:36px;
  text-decoration: none;
  padding:10px;
  border:none;
}